.content_color {
  color: white;
}

.title_text {
  font-size: 32px;
}

.description-text {
  font-size: 20px;
}

.description-category {
  text-decoration: underline;
  color: #ffc107;
}

.description-tooltip {
  position: relative;
  height: 30px;
}

.back-button {
  font-size: 12px;
  font-weight: bold;
  float: left;
}
