.content_color {
  color: white;
}
.link_style {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.title_text {
  font-size: 32px;
  color: #ffc107;
}
.link_description {
  color: #3d3d3d;
  width: 30%;
}
